<div id="wrapper">
  <div class="hero">
    <img
    srcset="assets/images/Sfondo-bombato.png 1x,
            assets/images/Sfondo-bombato@2x.png 2x"
    src="assets/images/Sfondo-bombato.png" />
  </div>
  <div id="loginForm">
    <div class="error-text" *ngIf="isLoginError">
      Incorrect Username or Password
    </div>
    <form #loginForm="ngForm" (submit)="loginUser($event)">
      <div class="fields form-group">
          <input type="text" placeholder="Email"  name="email" class="input form-control" [(ngModel)]="email" required>
          
        </div>
        <div class="fields form-group">
          <input type="password" placeholder="Password" name="password" class="input form-control" [(ngModel)]="password" required>
      
        </div>
        <div class="fields">
          <a href="#" id="forgotPassword">Password Dimentica?</a>
        </div>
        <div class="fields">
          <button id="loginButton" [disabled]="!loginForm.valid">LOGIN</button>
        </div>
      </form>
  </div>

  <div class="fields">
    <button (click)="register()" id="registerButton">Crea un account WAYD</button>
  </div>

</div>