#wrapper{
    width: 80%;
    margin:auto;
    background-color:#25344c;
    margin-top: 0px;
}
#loginForm{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
.fields{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.input{
    width: 100%;
    margin: 0px 10px 0px 10px;
    border-color:#eee;
    border-width:2px;
    border-top:0px;
    border-left:0px;
    border-right: 0px;
    padding: 10px;
    outline: none;
    font-family: 'sans-serif';
    font-size: 16px;
    color:#000000;
}

#loginButton{
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    background-color: #03BB4F;
    color: #ffffff;
    font-family: 'sans-serif';
    font-size: 15px;
    font-weight: bold;
    border: none;
}
#registerButton{
    width: 90%;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
    background-color: #25344c;
    color: #ffffff;
    font-family: 'sans-serif';
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #03BB4F;
}
button:hover{
    cursor: pointer;
}

::-webkit-input-placeholder { /* Chrome */
    color: #000000;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #000000;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #000000;
    opacity: 1;
  }
  :-moz-placeholder { /* Firefox 4 - 18 */
    color: #000000;
    opacity: 1;
  }

#forgotPassword{
    color:#666666;   
}
.hero{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.hero img{
    max-width:100%;
}
input.ng-invalid.ng-dirty{
    border-bottom-color: #ff0000;
    box-shadow: 0 1px 0 0 #ff0000;
}
.error-text{
    text-align: center;
    color: #ff0000;
}
.input:focus, .input:active{ outline: none !important; box-shadow: none !important; }