<button class="navbar-toggler toggleBtn" data-toggle="collapse" data-target="#mymenu">
  <img srcset="assets/images/line-menu.png 1x,
                assets/images/line-menu@2x.png 2x" src="assets/images/line-menu.png"
    class="nav-link" />
</button>
<div class="collapse navbar-collapse text-center" id="mymenu">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a (click)="LogOut()" class="nav-link text-dark">LogOut</a>
    </li>
  </ul>
</div>