/* .userList{
    min-width: 100%;
} */
.listItem{
    display: inline-block;
    margin: 10px;
}
.flexContainer{
    display: flex;
    justify-content: center;
}
.rating{
    height: 30px;
    width: 40px;
}