<div class="container flexContainer">
  <ul class="list-inline">
    <li *ngFor="let eachUser of users" class="list-inline-item">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-3 mt-5">
          <img src="/assets/images/{{eachUser.avatar}}" class="img-responsive" />
        </div>
      </div>

      <div class="row">
      <li *ngFor="let rating of createRange(eachUser.rating)" class="list-inline-item">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-1 mt-1">
          <img src="/assets/images/staryellow.png" class="rating" />
        </div>
      </li>
      </div>
      </li>
  </ul>
</div>
