
.invert { 
    filter: invert(100%);
 }

.home-container{
    width: 100%;
    background-size: contain;
    background-attachment: fixed;
    min-height: 1000px;
    background-repeat: no-repeat;
    /* Fallback */
    background-image: url('/assets/images/Testata.png');

    /* CSS gradients */
    background-image: url('/assets/images/Testata.png'),-moz-linear-gradient(top, rgb(18, 90, 86) 0%, rgb(72, 119, 128) 100%);
    background-image: url('/assets/images/Testata.png'),-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(18, 90, 86)), color-stop(100%, rgb(72, 119, 128)));
    background-image: url('/assets/images/Testata.png'),linear-gradient(to top, rgb(18, 90, 86), rgb(72, 119, 128) 100%);
}
