<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-2 col-xl-2">
      <app-main-nav></app-main-nav>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-10 col-xl-10 mt-2">

      <div class="row">

        <div class="col-lg-8 col-md-8 col-sm-8 col-8 col-xl-8">
          <div class="navText">
            Eventi vicino a te
          </div>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-2 col-xl-2 ml-auto">
          <div class="invert">
            <img srcset="assets/images/Shape-1.png 1x,assets/images/Shape-1@2x.png 2x" src="assets/images/shape-1.png" />
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="home-container">
      <app-user></app-user>
    </div>
  </div>
</div>